.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  gap: 4px;
  background-color: transparent;
  color: #ad5d4e;
  border-color: #ad5d4e;
  font-weight: 700;
}

.button:hover,
.button:focus {
  color: #2f241f;
  border-color: #2f241f;
}
